@import "tailwindcss";

html, body, #root {
  height: 100%;
}

@variant dark (&:where(.dark, .dark *));
@theme {
  --color-claude-bg: #F5F4EF;
  --color-claude-bg-dark: #262624;
  --color-claude-input: #FFFFFF;
  --color-claude-input-dark: #30302E;
  --color-claude-border: #E5E4DF;
  --color-claude-border-dark: #3A3937;
  --color-claude-text-dark: #FFFFFF;
  --color-claude-text: #0b0b0b;
  --color-claude-mute-text: #97958C;
}

body {
  @apply bg-claude-bg dark:bg-claude-bg-dark transition-colors duration-200;
}

@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-in {
  animation: scale-in 0.15s ease-out forwards;
}